<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [ ]:
!pip install pandas
!pip install matplotlib

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [1]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [4]:
# Write your code here
print(df.dtypes)
print(df.isnull().sum())


for col in df.columns:
    missing_df = df[col].isnull().sum()
    print(f" {col}: {missing_df} missing values" )

ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object
ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64
 ResponseId: 0 missing values
 MainBranch: 0 missing values
 Age: 0 missing values
 Employment: 0 missing values
 RemoteWork: 10631 missing values
 Check: 0 missing values
 CodingActivities: 10971 missing values
 EdLevel: 4653 missing values
 LearnCode: 4949 missing values
 LearnCodeOnline: 16200 missing values
 TechDoc: 24540 missing values
 YearsCode: 5568 missing values
 YearsCodePro: 13827 missing values
 DevType: 5992 missing values
 OrgSize: 17957 missing values
 PurchaseInfluence: 18031 missing values
 BuyNewTool: 20256 missing values
 BuildvsBuy: 22079 missing values
 TechEndorse: 21769 missing values
 Country: 6507 missing values
 Currency: 18753 missing values
 CompTotal: 31697 missing values
 LanguageHaveWorkedWith: 5692 missing values
 LanguageWantToWorkWith: 9685 missing values
 LanguageAdmired: 14565 missing values
 DatabaseHaveWorkedWith: 15183 missing values
 DatabaseWantToWorkWith: 22879 missing values
 DatabaseAdmired: 26880 missing values
 PlatformHaveWorkedWith: 23071 missing values
 PlatformWantToWorkWith: 30905 missing values
 PlatformAdmired: 34060 missing values
 WebframeHaveWorkedWith: 20276 missing values
 WebframeWantToWorkWith: 26902 missing values
 WebframeAdmired: 30494 missing values
 EmbeddedHaveWorkedWith: 43223 missing values
 EmbeddedWantToWorkWith: 47837 missing values
 EmbeddedAdmired: 48704 missing values
 MiscTechHaveWorkedWith: 25994 missing values
 MiscTechWantToWorkWith: 32473 missing values
 MiscTechAdmired: 35841 missing values
 ToolsTechHaveWorkedWith: 12955 missing values
 ToolsTechWantToWorkWith: 19353 missing values
 ToolsTechAdmired: 21440 missing values
 NEWCollabToolsHaveWorkedWith: 7845 missing values
 NEWCollabToolsWantToWorkWith: 13350 missing values
 NEWCollabToolsAdmired: 14726 missing values
 OpSysPersonal use: 7263 missing values
 OpSysProfessional use: 12464 missing values
 OfficeStackAsyncHaveWorkedWith: 17344 missing values
 OfficeStackAsyncWantToWorkWith: 26471 missing values
 OfficeStackAsyncAdmired: 28233 missing values
 OfficeStackSyncHaveWorkedWith: 9892 missing values
 OfficeStackSyncWantToWorkWith: 18726 missing values
 OfficeStackSyncAdmired: 20725 missing values
 AISearchDevHaveWorkedWith: 20984 missing values
 AISearchDevWantToWorkWith: 28736 missing values
 AISearchDevAdmired: 29894 missing values
 NEWSOSites: 5151 missing values
 SOVisitFreq: 5901 missing values
 SOAccount: 5877 missing values
 SOPartFreq: 20200 missing values
 SOHow: 6475 missing values
 SOComm: 6274 missing values
 AISelect: 4530 missing values
 AISent: 19564 missing values
 AIBen: 28543 missing values
 AIAcc: 28135 missing values
 AIComplex: 28416 missing values
 AIToolCurrently Using: 30365 missing values
 AIToolInterested in Using: 34746 missing values
 AIToolNot interested in Using: 41023 missing values
 AINextMuch more integrated: 51999 missing values
 AINextNo change: 52939 missing values
 AINextMore integrated: 41009 missing values
 AINextLess integrated: 63082 missing values
 AINextMuch less integrated: 64289 missing values
 AIThreat: 20748 missing values
 AIEthics: 23889 missing values
 AIChallenges: 27906 missing values
 TBranch: 20960 missing values
 ICorPM: 35636 missing values
 WorkExp: 35779 missing values
 Knowledge_1: 36773 missing values
 Knowledge_2: 37416 missing values
 Knowledge_3: 37342 missing values
 Knowledge_4: 37407 missing values
 Knowledge_5: 37557 missing values
 Knowledge_6: 37573 missing values
 Knowledge_7: 37659 missing values
 Knowledge_8: 37679 missing values
 Knowledge_9: 37802 missing values
 Frequency_1: 37068 missing values
 Frequency_2: 37073 missing values
 Frequency_3: 37727 missing values
 TimeSearching: 36526 missing values
 TimeAnswering: 36593 missing values
 Frustration: 37186 missing values
 ProfessionalTech: 37673 missing values
 ProfessionalCloud: 36946 missing values
 ProfessionalQuestion: 36630 missing values
 Industry: 36579 missing values
 JobSatPoints_1: 36113 missing values
 JobSatPoints_4: 36044 missing values
 JobSatPoints_5: 36026 missing values
 JobSatPoints_6: 35987 missing values
 JobSatPoints_7: 35989 missing values
 JobSatPoints_8: 35981 missing values
 JobSatPoints_9: 35981 missing values
 JobSatPoints_10: 35987 missing values
 JobSatPoints_11: 35992 missing values
 SurveyLength: 9255 missing values
 SurveyEase: 9199 missing values
 ConvertedCompYearly: 42002 missing values
 JobSat: 36311 missing values

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [5]:
# Write your code here


df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [8]:
# Write your code here
print (df['Country'].unique())
print(df['EdLevel'].unique())

['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']
['Primary/elementary school'
 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)'
 'Some college/university study without earning a degree'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Something else' nan]

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [9]:
## Write your code here
country_mapping = {
    'United States of America': 'United States',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Russian Federation': 'Russia',
    'Iran, Islamic Republic of...': 'Iran',
    'Republic of Korea': 'South Korea',
    "Democratic People's Republic of Korea": 'North Korea',
    'Venezuela, Bolivarian Republic of...': 'Venezuela',
    'Libyan Arab Jamahiriya': 'Libya',
    'Micronesia, Federated States of...': 'Micronesia',
    'Congo, Republic of the...': 'Congo',
    'Hong Kong (S.A.R.)': 'Hong Kong',
    "Lao People's Democratic Republic": 'Laos',
    'Republic of North Macedonia': 'North Macedonia',
    'Republic of Moldova': 'Moldova',
    'United Republic of Tanzania': 'Tanzania'
}

df['Country'] = df['Country'].replace(country_mapping)

education_mapping = {
    'Bachelor’s degree (B.A., B.S., B.Eng., etc.)': 'Bachelor’s degree',
    'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)': 'Master’s degree',
    'Some college/university study without earning a degree': 'Some college',
    'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)': 'High school',
    'Professional degree (JD, MD, Ph.D, Ed.D, etc.)': 'Doctorate or professional degree',
    'Associate degree (A.A., A.S., etc.)': 'Associate degree',
    'Primary/elementary school': 'Primary school',
    'Something else': 'Other'
}

df['EdLevel'] = df['EdLevel'].replace(education_mapping)

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [10]:
## Write your code here
pd.get_dummies(df['Employment'])

,"Employed, full-time","Employed, full-time;Employed, part-time","Employed, full-time;Independent contractor, freelancer, or self-employed","Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time","Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired","Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work","Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time","Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time","Employed, full-time;Independent contractor, freelancer, or self-employed;Retired","Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time",...,"Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time","Student, full-time;Not employed, but looking for work;Retired","Student, full-time;Not employed, but looking for work;Student, part-time","Student, full-time;Retired","Student, full-time;Student, part-time","Student, full-time;Student, part-time;Employed, part-time","Student, full-time;Student, part-time;Retired","Student, part-time","Student, part-time;Employed, part-time","Student, part-time;Retired"
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65432,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
65433,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
65434,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
65435,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
65436,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [18]:
##  Identify columns with the highest number of missing values.

for col in df.columns:
    missing_df = df[col].isnull().sum()

missing_counts = df.isnull().sum()
missing_sorted = missing_counts[missing_counts > 0].sort_values(ascending=False)

print("Columns with the Most Missing Values:\n")
print(missing_sorted)

Columns with the Most Missing Values:

AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
                              ...
YearsCode                      5568
NEWSOSites                     5151
LearnCode                      4949
EdLevel                        4653
AISelect                       4530
Length: 109, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [20]:
## Write your code here

frequent = (df['ConvertedCompYearly'].median())
print(frequent)

df['ConvertedCompYearly'].fillna(frequent, inplace = True )

print(df['ConvertedCompYearly'].isnull().sum())

86155.28726264134
0

/tmp/ipykernel_4064/3853974294.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(frequent, inplace = True )

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [21]:
## Write your code here


frequent = (df['RemoteWork'].mode()[0])
print(frequent)

df['RemoteWork'].fillna(frequent, inplace = True )

print(df['RemoteWork'].isnull().sum())

Hybrid (some remote, some in-person)
0

/tmp/ipykernel_4064/3789094601.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RemoteWork'].fillna(frequent, inplace = True )

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [22]:
## Write your code here
df['ConvertedCompYearly_MinMax'] = df['ConvertedCompYearly']/df['ConvertedCompYearly'].max()
print(df['ConvertedCompYearly_MinMax'])

0        0.0053
1        0.0053
2        0.0053
3        0.0053
4        0.0053
          ...
65432    0.0053
65433    0.0053
65434    0.0053
65435    0.0053
65436    0.0053
Name: ConvertedCompYearly_MinMax, Length: 65437, dtype: float64

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [24]:
## Write your code here
import numpy as np
df['log_Comp'] = np.log1p(df['ConvertedCompYearly'])  # log1p handles zero values safely

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [26]:
## Write your code here
## Write your code here
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')

def map_experience(years):
    if pd.isnull(years):
        return 'Unknown'
    elif years <= 1:
        return 'Beginner (≤1 yr)'
    elif years <= 3:
        return 'Novice (2–3 yrs)'
    elif years <= 5:
        return 'Intermediate (4–5 yrs)'
    elif years <= 8:
        return 'Skilled (6–8 yrs)'
    elif years <= 12:
        return 'Advanced (9–12 yrs)'
    elif years <= 20:
        return 'Expert (13–20 yrs)'
    else:
        return 'Veteran (21+ yrs)'

# Step 3: Apply mapping to create ExperienceLevel
df['ExperienceLevel'] = df['YearsCodePro'].apply(map_experience)

# Step 4: Preview the result
print(df[['YearsCodePro', 'ExperienceLevel']].head())

   YearsCodePro     ExperienceLevel
0           NaN             Unknown
1          17.0  Expert (13–20 yrs)
2          27.0   Veteran (21+ yrs)
3           NaN             Unknown
4           NaN             Unknown

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.